*.o
*.a
*.la
*.lo
*.so
pc/*.pc
.jamcache
.jamhcache
Jamconfig
aclocal.m4
autom4te.cache/
config.h
config.h.in
config.log
config.status
configure
doc/Doxyfile
doc/html/
edelib/Version.h
edelib/edelib-config.h
examples/animate
examples/dirwatch
examples/efile
examples/egroup
examples/egroup2
examples/elinks
examples/font_chooser
examples/icon_chooser
examples/list_view
examples/menu
examples/script_editor
examples/sevenseg
examples/sipc_client
examples/sipc_server
examples/theme
examples/xsettings_client
examples/xsettings_setter
po/update-messages.sh
sslib/init_ss.h
sslib/theme_ss.h
test/run_tests
test/xdg/icon-theme
tools/edelib-dbus-explorer/Help.h
tools/edelib-dbus-explorer/edelib-dbus-explorer
tools/edelib-script/edelib-script
tools/edelib-update-font-cache/edelib-update-font-cache

